description "Celery worker for SFB"

start on (filesystem)
stop on runlevel [016]

respawn
setuid nobody
setgid nogroup
chdir {{ django_home }}

env DATABASE_URL="{{ db_url }}"
env SECRET_KEY="{{ secret_key }}"
env ALLOWED_HOSTS="{{ ec2_public_dns_name }}"
env AWS_ACCESS_KEY_ID="{{ aws_sqs_access_key_id }}"
env AWS_SECRET_ACCESS_KEY="{{ aws_sqs_secret_access_key }}"
env STRAVA_CLIENT_ID="{{ strava_client_id }}"
env STRAVA_CLIENT_SECRET="{{ strava_client_secret }}"

exec celery -A friend_breaker worker -l info
